# ferramentas de desenvolvimento
.idea/
nbproject/
.vscode/

# configurações do projeto
config/config.ini
src/database/Database.php

# bibliotecas de terceiros
vendor
node_modules

# scripts gerados para o banco de dados
storage/schemas/*

# demais configurações
