# ferramentas de desenvolvimento
.idea/
.vscode/

# comentário
*.iml

# comentário
database/config.ini

# comentário
public/default.php

# comentário
composer.lock
package-lock.json

# comentário
node_modules/
vendor/
