# ide's configurations for project.
.idea/
.vscode/

# ide's file configuration for project
*.iml

# database configuration file for production.
database/config.ini

# file generate in hosted server.
public/default.php

# comentário.
storage/

# dependencies files for environment.
composer.lock
package-lock.json

# dependencies directory for environment.
node_modules/
vendor/
