# ferramentas de desenvolvimento
.idea/
nbproject/
.vscode/
*.iml

# configurações do projeto
config/config.ini
configuracao.php

# templates gerados automaticamente por hospedagens compartilhadas
default.php

# arquivos de configuração das dependências do projeto
composer.lock
package-lock.json

# diretórios de instalação das dependências
node_modules/
vendor/
